* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

// BOOK INDEX ******************************************************************

.book-index-col {
  margin: 10px 0;

  .card {
    color: #000;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.1);

      .card-body{
        opacity: 1;
      }
    }

    .card-header {
      background: rgba(169, 169, 169, 0.9)
    }

    .card-body {
      transition: opacity 0.5s ease;
      opacity: 0;
      background: rgba(169, 169, 169, 0.9)
    }
  }
}

// BASKET **********************************************************************

.item-quantity {
  display: flex;
  flex-direction: row;
}
